#container {
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    perspective: 100vw;
}

.photo {
    border: 1px solid #ccc;
    border-radius: 4px;

    position: absolute;
    height: calc(100vh - 100px);
    width: 30vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;

    background-size: cover;
    /*background-size: contain;*/
    /*transition: transform 250ms ease, z-index 250ms ease;*/
}